.body{
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 160px;
}

.header{
    background-image: url("../Assets/logo-header.png");
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    margin:auto;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
}
.flex-content, .marcadores{
    display: flex;
    flex-direction: row;
}
.flex-content{
    margin-top: 200px;
}

.player1, .button1 {
    background-color: #9ecfd3;
}
.player1, .player2{
    width: 25%;
    height: 800px;
}

.button1, .button2{
    border: none;
    box-sizing: content-box;
    cursor:pointer;
}

.player2, .button2{
    background-color: #e2a1a7;
}

.opciones{
    margin-top: 80px;
    margin-left: 10px;
}

.tablero{
    background-color: #58ac72;
    width: 50%;
    height:800px; 
}
.marcadores{
    justify-content: space-evenly;
}
.rondasJugadas, .partidasJugadas{
    font-size: x-large;
    font-weight: bold;
}

p {
    font-size: larger;
}

#textName, .nombre2, #resultadorondas1, #resultadopartidas1, #resultadopartidas2, #resultadorondas2{
    font-size: xx-large;
    font-weight: bold;
}

.textNamePC, .player1, .player2, .tablero{
    text-align: center;
}